{% if user.is_authenticated %}

<!-- 로그인이 되었다면 -->
안녕하세요, {{ user.username }}님!<br/>
<a href="{% url 'logout' %}">로그아웃</a>
{% else %}
<!-- 로그인이 되지 않았다면 -->
아직 로그인이 되지 않았어요..<br/>
<a href="{% url 'login' %}">로그인</a>
{% endif %}
<br/>

<h1>My simple blog</h1>

<!-- 이 공간에는 블로그 글들의 목록을 보여줄 예정 -->

<!-- templates언어로 for문 만들기 -->
{% for post in posts %}
<!-- 아래의 코드 경우 눌렀을 때 어떤 url로 이동하고 싶은데 그 url은  detail이라는 문자열을 가지고 있는 
url이다.  근데 이 detail이라는 url은 이런 추가적인 정보도 필요할 것이다(post.id) -->
    <a href="{% url 'detail' post.id %}"><h3>제목: {{ post.title }}</h3></a>
    <h4>작성날짜: {{ post.date }}</h4>
<!-- quryset이라는 자료형 형태로 감싸진채 보이게 되므로
templates언어의 for문으로써 하나하나 quryset을 순회하면서
quryset안에 있는 title body를 찍어줘야한다 -->
    <!-- {{ post.body }} -->
{% endfor %}
<br/><br/>
<!-- <a href="{% url 'new' %}">HTML을 이용한 새 글 작성</a><br/>
<a href="{% url 'formcreate' %}"> django form을 이용한 새 글 작성</a><br/> -->

{% if user.is_authenticated %}
<a href="{% url 'modelformcreate' %}">새 글 작성</a>
{% endif %}
