<h1>제목</h1>
{{ blog_detail.title }}

<h2>날짜</h2>
{{ blog_detail.date }}

<h3>본문</h3>
{{ blog_detail.body }}

<h3>본문에 추가된 첨부파일</h3>
<!-- 첨부파일 있으면 보이게 하기 -->
{% if blog_detail.photo %}
    <!-- blog.detail.photo만 써주면 x. 뒤에 url까지 붙여주기 
    blog.detail.photo.path : 내 컴퓨터 상에 저장되어 있는 경로 알려줌 -->
    <img src="{{ blog_detail.photo.url }}" height="600">
{% endif %}

<hr>
<h3>댓글</h3>
<form method="POST" action="{% url 'create_comment' blog_detail.id %}">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
</form>
<hr>

<!-- 댓글 목록 -->
<!-- 특정 객체를 참조하고 있는 어떤 모델의 집합을 모두 불러오기 : blog_detail.comment_set.all -->
{% for comment in blog_detail.comment_set.all %}
    <p>{{ comment }}</p>
    <hr>
{% endfor %}

<a href="{% url 'home' %}">돌아가기</a>