<!-- django template language로 static파일 갖고 오겠다 선언 -->
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- static 파일 directory 하에 있는 css 폴더 안의 style.css 갖고 오겠다 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <title>Static Practice</title>
</head>
<body>
    <div>Hello Static!</div>
    <!-- <img src="{% static 'img/logo.png' %}"> -->
</body>
</html>